body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
  color:#0099FF;
}
#u5020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:20px;
  width:375px;
  height:44px;
}
#u5022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:27px;
  height:27px;
}
#u5023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:34px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:34px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:67px;
  width:376px;
  height:600px;
  overflow:hidden;
}
#u5026_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u5026_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  height:865px;
}
#u5027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:376px;
  height:85px;
}
#u5028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:12px;
  width:69px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:65px;
  width:69px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:41px;
  width:80px;
  height:14px;
  font-size:12px;
  color:#1E1E1E;
}
#u5031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:49px;
  width:3px;
  height:3px;
}
#u5034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:40px;
  width:3px;
  height:3px;
}
#u5037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:33px;
  width:3px;
  height:3px;
}
#u5040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:100px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5042_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5042.mouseDown {
}
#u5042_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:148px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5043_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5043.mouseDown {
}
#u5043_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:196px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5044_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5044.mouseDown {
}
#u5044_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:244px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5045_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5045.mouseDown {
}
#u5045_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:292px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5046_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5046.mouseDown {
}
#u5046_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:340px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5047_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5047.mouseDown {
}
#u5047_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:115px;
  width:35px;
  height:17px;
  color:#1E1E1E;
}
#u5048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:163px;
  width:27px;
  height:17px;
  color:#1E1E1E;
}
#u5049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u5050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:211px;
  width:84px;
  height:17px;
  color:#1E1E1E;
}
#u5050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:308px;
  width:147px;
  height:17px;
  color:#1E1E1E;
}
#u5051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:392px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5054_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5054.mouseDown {
}
#u5054_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:440px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5055_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5055.mouseDown {
}
#u5055_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:488px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5056_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5056.mouseDown {
}
#u5056_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:536px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5057_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5057.mouseDown {
}
#u5057_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:407px;
  width:43px;
  height:17px;
  color:#1E1E1E;
}
#u5058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u5059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:455px;
  width:50px;
  height:17px;
  color:#1E1E1E;
}
#u5059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u5060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:503px;
  width:73px;
  height:17px;
  color:#1E1E1E;
}
#u5060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u5061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:549px;
  width:19px;
  height:17px;
  color:#1E1E1E;
}
#u5061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:589px;
  width:360px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5064_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5064.mouseDown {
}
#u5064_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u5065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:604px;
  width:164px;
  height:17px;
  color:#1E1E1E;
}
#u5065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u5066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:356px;
  width:71px;
  height:14px;
  color:#1E1E1E;
}
#u5066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:56px;
  width:3px;
  height:3px;
}
#u5069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5070 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:15px;
  width:16px;
  height:13px;
  font-size:10px;
}
#u5070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u5071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:68px;
  width:16px;
  height:13px;
  font-size:10px;
}
#u5071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u5072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:706px;
  width:318px;
  height:42px;
  color:#FFFFFF;
}
#u5072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:314px;
  word-wrap:break-word;
}
#u5073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5073 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:260px;
  width:84px;
  height:17px;
  color:#1E1E1E;
}
#u5073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
